.list-radio {
    display: flex;
    gap: 15px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-option input[type='radio'] {
    width: 20px;
    height: 20px;
}

input[type='radio']:checked {
    accent-color: #3C474D;
    border-color: #3C474D;
}



