.listaItens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
    max-height: 350px; /* Aumenta a área de rolagem */
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE e Edge antigo */
}

 .mostrarItens {
    width: 50%;
    background-color: #99BDDE;
    border-radius: 5px;    
    text-align: center;
    padding: 20px 0 20px 0;
    box-shadow: 3px 3px 10px;
    margin: 20px auto 20px auto;
    min-height: 20vh;
}

.item {
    background-color: #E8A968;
    border-radius: 5px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 3px 10px;
    transition: transform 0.3s;
}
