/*LOGIN*/
form {
    background-color: #99BDDE;
    border-radius: 5px;    
    text-align: center;
    padding: 20px 0 20px 0;
    box-shadow: 3px 3px 10px;
    margin: 100px auto 100px auto;
}

.login {
    padding-left: 20px;
    padding-right: 20px;
}

.btnLogin {
    width: 30%;
    height: 50px;
    border-radius: 25px;
    background-color: #E8A968;
    color: #3C474D;
    font-size: medium;
    border-style: hidden;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    align-self: center;
    box-shadow: 1px 1px 5px;
}

.login .form-group input + span {
    align-self: flex-end;
}

.login .form-group .btnLogin + span {
    align-self: center;
}

@media only screen and (max-width: 768px) {/*SMARTPHONES*/
     .login {
        width: 90% !important;
    }

    .btnLogin {
        width: 40% !important;
        height: 45px !important;
    }

    .login, form {
        width: 95% !important;    
    }
}

@media only screen and (min-width: 768px) {/*DESKTOPS*/
    .login, form:not(.cadastro) {
        width: 40%;
    }   
}