/*CONFIGURACOES BASICAS*/
@import "tailwindcss";

@theme {
    --color-primary: #99BDDE;
    --color-secundary: #E8A968;
    --color-bg-white: #F9F9F9;  
    --color-content: #3C474D;
}

@layer base {
    body {
        @apply bg-white text-content font-sans;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: 100vh;  
}

