/*CONFIGURACOES BASICAS*/
@import "tailwindcss";

@theme {
    --color-primary: #99BDDE;
    --color-secundary: #E8A968;
    --color-bg-white: #F9F9F9;  
    --color-content: #3C474D;

   --animate-pulsando: pulsando 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes pulsando {
        50% {
            /* opacity: 0.5; */
            scale: 1.01;
        }
    }
}

@layer base {
    body {
        @apply bg-white text-content font-sans;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: 100vh;  
}

